body{
    display: grid;
    min-height: 100vh;
    place-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

h3{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 20px 0px;
    font-size: large;   
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5%; 
}


.container{
    background-color: hsl(0, 0%, 100%);
    font-family: Outfit;
    max-width: 17rem;
    margin: 50px auto;
    padding: 20px 20px 40px;
    border-radius: 5%;
    
}

container-text{
    text-align: center;
}


.attribution { 
    font-size: 11px;
}
   
.attribution a { 
    color: hsl(228, 45%, 44%);
 }



